:root {
  --textColor: black;
  --textOffColor: #7c858d;
  --baseColor: white;
  --baseBtnColor: lightgray;
  --baseDarkColor: #1e2b36;
  --baseLightColor: #283b48;
  --secColor: #ffa600;
  --trdColor: #b3cb2d;
}

body {
  background: var(--baseColor) !important;
  color: var(--textColor);
  font-size: 18px;
}
#kc-header-wrapper{
  padding: 0;
}

div.kc-logo-text {
  background-image: none;
  background-repeat: no-repeat;
  height: 40px;
  width: 200px;
  margin: 0 auto;
}

#logo-diplay {
  background-image: url(https://catena-x.net/fileadmin/user_upload/logos/logo.svg);
  background-repeat: no-repeat;
  height: 30px;
  width: 130px;
}
/* Login Page */

#kc-header { background: #fff;
}
.login-pf-page .login-pf-page-header{
  margin-bottom: 0;
}

#kc-text-account {
  margin: 15px 0 15px 0;
  font-size: 16px;
  line-height: 1.6;
}

.login-pf-header h2{
  font-weight: bold;
  font-size: 25px;
  line-height: 5px;
}

.login-pf-page .card-pf {
  padding: 0 40px 0 40px;
}

#kc-form-buttons {
  margin-top: 0px;
}

#card-pf {
  max-width: 400px;
}

#kc-login {
  background-color: var(--baseDarkColor);
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #283b48 0%, #1e2b36 100%);
  border-color: var(--baseDarkColor);
}

#kc-form-wrapper label {
  font-size: 13px;
  font-weight: bold;
}

#kc-form-wrapper input {
  border-radius: 5px ;
}

#kc-registration-footer {
  text-align: center;
  font-size: 10px;
  margin-top: 20px;
}

.kc-realm-name {
  font-size: 13px;
}


