:root {
  --textColor: black;
  --textOffColor: #7c858d;
  --baseColor: white;
  --baseBtnColor: lightgray;
  --baseDarkColor: #1e2b36;
  --baseLightColor: #283b48;
  --secColor: #ffa600;
  --trdColor: #b3cb2d;
}

@font-face {
  font-family: 'libra franklin';
  src: url(fonts/static/LibreFranklin-Regular.ttf);
  font-weight: 400; 
  font-style: normal;
}

body {
  background: var(--baseColor) !important;
  color: var(--textColor);
  font-size: 18px;
  font-family: 'libra franklin';
  font-weight: 400;
  color:#000000;
}
#kc-header-wrapper{
  padding: 0;
}

div.kc-logo-text {
  background-image: none;
  background-repeat: no-repeat;
  height: 40px;
  width: 200px;
  margin: 0 auto;
}

#logo-diplay {
  background-image: url(https://catena-x.net/fileadmin/user_upload/logos/logo.svg);
  background-repeat: no-repeat;
  height: 32px;
  width: 138px;
  margin-bottom: 20px;
}
/* Login Page */

#kc-header { background: #fff;
}
.login-pf-page .login-pf-page-header{
  margin-bottom: 0;
}

#kc-text-account {
  margin: 24px 0 24px 0;
  font-size: 17px;
  line-height: 1.6;
}

.login-pf-header h2{
  font-weight: bold;
  font-size: 38px;
  line-height: 15px;
}

.login-pf-page .card-pf {
  padding: 0 40px 0 40px;
}

#kc-form-buttons {
  margin-top: 0px;
}

#card-pf {
  max-width: 400px;
}

#kc-login {
  background: #000000;
  border: 1px solid #000000;
}

#kc-form-wrapper label {
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
}

#kc-form-wrapper input {
  border-radius: 5px ;
}

#kc-form-wrapper::-webkit-input-placeholder {
  font-family: 'libra franklin';
}

#kc-form-wrapper:-ms-input-placeholder {
  font-family: 'libra franklin';
}

#kc-form-wrapper:-moz-placeholder {
  font-family: 'libra franklin';
}

#kc-form-wrapper::-moz-placeholder {
  font-family: 'libra franklin';
}

#kc-form-wrapper input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  font-style: normal !important;
}

.form-control:-moz-placeholder {
  font-style: normal;
}
.form-control::-moz-placeholder {
  font-style: normal;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  font-style: normal;
}
.form-control::-webkit-input-placeholder {
  font-style: normal;
}

.form-control:hover {
  border-color: none;
}
.form-control:focus {
  border-color: none;
}

.login-pf body {
  background-size: auto;
  height: auto;
}

#kc-registration-footer {
  text-align: center;
  font-size: 17px;
  margin-top: 30px;
}

.form-group {
  margin-bottom: 32px;
}

.login-pf-page .login-pf-settings{
  display: none;
}

.kc-realm-name {
  font-size: 17px;
  color: #222222;
  line-height: 20px;
  margin-top: 10px;
}



